.thread-name {
    font-weight: lighter !important;
    margin-left: 400px !important;
}

.contentTab,
.threadTab,
.userTab {
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 30vw;
    padding: 0.75vw;
    border: 1px solid rgb(255, 255, 255, 0.1);
    border-radius: 0.5vw;
}

.threadTab,
.userTab {
    height: 0.1vw;
}

.contentTab {
    height: 5vw;
}

.forum_thread {
    margin-top: 30px;
}

.thread-inputs-container,
.thread-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.label-container{
    display: block;
    margin-bottom: 5px;
    font-weight: lighter;
}

.inputs-list,
.forum-threads {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: auto;
}

.modalInput{
    width: 800px;
}

.h2-forum{
    font-weight: lighter;
}

.thread-title{
    font-weight: lighter;
    color: #bc6c25;
}