.App {
    text-align: center;
    /* min-height: 100vh; */
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    background-color: #dda15e;
}

.layout {
    column-count: 3;
    column-gap: 150px; /* Dodaj odstęp między kolumnami */
    margin-top: 100px;
    padding: 20px;
}


h1 {
    column-span: all;
}

.container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between; /* Rozstawiamy elementy między sobą */
    align-items: flex-start; /* Elementy w górnym rzędzie */
    margin: 10px; /* Zmniejsz margines kontenera */
    column-count: 3;
}

.book {
    /* flex: 0 0 calc(33.33% - 20px); */
    background-color: #ffffff;
    color: black;
    overflow-wrap: break-word;
    font-size: 15px;
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    margin-bottom: 30px;
    width: auto;
}



