/* Form container */
.register-details {
  background-color: rgb(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 20px;
  margin-top: 150px;
  margin-left: 400px;
  margin-bottom: 30px;
  max-width: 800px;
}

  /* Form header */
.register-h2{
  font-weight: lighter !important;
}
  
  /* Form input */
.register-input {
  width: 60%;
  height: 0.1vw;
  padding: 10px;
  font-weight: lighter !important;
  margin-bottom: 15px;
  border-radius: 10px;
} 

.register-input:read-only {
  color: #999;
}

.register-input:invalid {
  border-color: #283618;
  border-width: 1px;
}

.register-input:invalid + span {
  display: block;
  color: #606c38;
  font-size: 12px;
}
  
  /* Form button */
.register-button {
  color: black !important;
  text-decoration: none;
  font-weight: normal;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 20px;
}
  
  /* Form link */
.register-link {
    display: block;
    text-align: center;
    font-size: 0.9em;
    color: black !important;
}

.reg-buttons-container{
  margin-top: 30px;
}