.App {
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    /* background-color: #dda15e; */
    background-image: url('../public/background-08.png');
    min-height: 1200px;
}

@media screen and (min-width: 600px){
  .pageContent {
      padding: 20px;
      min-height: calc(100vh - 200px);
  }
}
